In [1]:
print("code 1")

code 1

this is a markdown

In [1]:
print("hello world")

hello world

In [2]:
x=10
y=15
print(str(x)+" "+str(y))

10 15

In [12]:
#this is comment.
x=3
y = str(x)
print(type(y))

<class 'str'>

rules of naming a variable:-
>variable name must start with a letter or an underscore.
>variable name cannot start with a number.
>variable name can only contain alphanumeric values.(A-Z,a-z,0-9,_)
>variable names are case sensitive
>variable name cannot be any python keyword


camelCase
PascalCase
snake_case

In [17]:
x,y,z = 3,4,5
print(x)
print(y)
print(z)

3
4
5

In [ ]:
PYTHON DATA TYPES

Text/Strng - str

Numeric - int,float,Complex

Sequence - list,tuple,range

Mapping - dict

set, bool, bytes, bytearray

In [18]:
x = "Hello World"
print(type(x))

<class 'str'>

In [19]:
x = 20j
print(type(x))

<class 'complex'>

In [20]:
x = ["1","2","3"]
print(type(x))

<class 'list'>

In [21]:
x = ("1","2","3")
print(type(x))

<class 'tuple'>

In [24]:
x = range(10)
print(type(x))
print(x)

<class 'range'>
range(0, 10)

In [26]:
x = {"name":"cipher schools", "batch" : "data science batch"}
print(x)
print(type(x))

{'name': 'cipher schools', 'batch': 'data science batch'}
<class 'dict'>

In [31]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [13]:
name = "tryambakam dev sharma"
print(name.strip())
print(name[0:10])
print(name[0])
print(name[:14])
print(name[10:])
print(name.upper())
print(name.lower())
print(name.split())
print(name.replace('t','T'))

Tryambakam dev sharma

Array => sequential of data
base address - 0
String are array of characters.

In [1]:
x = "he.llo"
print(x.split("."))

['he', 'llo']

In [ ]:
a